@using MoviesApp2.Models
@model IEnumerable<MoviesApp2.Models.Category>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Katalog filmów</h1>
    <p class="lead">Strona zawiera katalog filmów wraz z ocenami i opisem.</p>
    <p>
        @Html.ActionLink("Przeglądaj filmy", "Index", "Movies", null, new { @class = "btn btn-primary btn-lg" })
    </p>

</div>

<div class="row">
    <h2>Przeglądaj po kategoriach</h2>
    @foreach (var category in Model)
    {
        <div class="col-md-3 panel">
            <h4>@category.Name</h4>
            @foreach (var movie in category.Movies)
            {
                <li> @movie.Title</li>
            }
        </div>
    }
</div>